!Build/
*.bbproj
*.bs
*.o
*.rej
*.tar
*.tar.gz
*.tgz
*.zip
.last_cover_stats
.prove
/.build/
/MANIFEST.bak
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
Build
Build.bat
_build/
cover_db/
inc/
nytprof.out
MYMETA*
Makefile
blib
pm_to_blib
*.bak
PerlPowerTools-*
MANIFEST 2
MANIFEST 3
Changes 2
Changes 3
Makefile 2
*.icloud
